#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./common/img/ryan-hutton-Jztmx9yqjBw-unsplash.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 1s ease;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid var(--b1);
    border-top: 6px solid var(--m2);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.cloud {
    position: fixed;
    top: 25%;
    width: 50%;
    height: 100%;
    background-image: url('./common/img/cloud.png');
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 900;
    opacity: 1;
    transition: transform 2s ease, opacity 1s ease;

    &.left {
        left: 0;
        transform: translateX(0);
        transform: translateY(20%);
    }

    &.right {
        right: 0;
        transform: translateX(0);
        transform: translateY(-20%);
    }
}

.cloud.hidden {
    opacity: 0;
    transform: translateY(-50%) scale(1.1); /* 위로 이동하며 확대되는 효과 */
    pointer-events: none; /* 호버 효과 비활성화 */
}


.clouds-cleared {
    .cloud{
        &.left {
            transform: translateX(-100%);
            opacity: 0;
        }
        &.right {
            transform: translateX(100%);
            opacity: 0;
        }
    }
}

.background {
    display: none;
}
